<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mabatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dani4.repository.TextTestRepository">
    <insert id="save" parameterType="com.dani4.domain.TextTest">
    insert into test values(test_seq.nextval,#{text})
    </insert>

</mapper>